<h1>What Would You Like to do?</h1>

<div class="col-md-6">
<h3><a href="/addclient">Add new client</a></h3>
</div>

<div class="col-md-6">
<h3><a href="/stylists">Add client to a stylist</a></h3>
</div>
