<div class="jumbotron">
  <h1>Welcome to Awesome Hair!</h1>
</div>

<div class="col-md-6">
  <h2><a href="/specialty">New Stylists and their Specialties</a></h2>
</div>

<div class="col-md-6">
  <h2><a href="/client/home">New Clients and their Stylists</a></h2>
</div>
