@using HairSalon.Models;

<h2>New applicant</h2>
<form action="/stylists" method="post">
  <div class="form-group">
    <label for="newStylist">New stylist: </label>
    <input type="text" name="newStylist">
  </div>
  <button type="submit" name="button">Add</button>
</form>
