@using HairSalon.Models;

<h2>New applicant</h2>
<form action="/stylists" method="post">
  <div class="form-group">
    <label for="newStylist">Applicant name: </label>
    <input type="text" name="newStylist">
  </div>
  <div class="form-group">
    <label for="specialty">What applicants hair specialty?</label>
    <input type="text" name="specialty">
  </div>
  <button type="submit" name="button">Hire</button>
</form>
