<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>


<h2>Add Clients to Stylists by clicking on their names</h2>
<ul>
@foreach (var stylist in Model)
{
  <li><strong>Stylist</strong>: @stylist.GetStylist() | <strong>New</strong> client requests for <a href="/client/new/@stylist.GetId()">@stylist.GetStylist()</a> | <a href="/stylists" class="deleteAction" id="@stylist.GetId()">Remove Stylist</a></li>
}
</ul>

<form id="secret-form" action="/stylist/delete" method="post">
  <input type="hidden" name="stylistId" value="">
</form>

<script type="text/javascript">
  $("#secret-form").hide();
  $(document).ready(function() {
    $("a.deleteAction").click(function(event) {
      event.preventDefault();
      $("form#secret-form input").val(this.id);
      $("form#secret-form").submit();
    })
  })
</script>

<h2>Or to add a Specialty to one of these Stylist Click Below</h2>
<h4><a href="/specialty/stylist">Add a specialty to a stylist</a></h4>
